<div class="profile-page">
  <div class="profile-header">
    <div class="photo-wrapper">
      <div class="photo-tape tape-top"></div>
      <div class="photo-tape tape-bottom"></div>
      <div class="photo-container">
        <img
          src="<%= user.profile_picture %>"
          alt="Profile Photo"
          class="profile-photo"
        />
      </div>
    </div>
    <div class="about-section">
      <h1 class="name">
        <%= user.full_name %>
        <span class="role"><%= user.author?"author":"reader" %></span>
      </h1>
      <ul class="info-list">
        <li><%= user.email %></li>
        <li>
          <%= new Date(user.created_at).toLocaleDateString('en-US', { day:
          '2-digit', month: 'long', year: 'numeric' }) %>
        </li>
      </ul>
      <div class="button-container">
        <button id="logout">Log Out</button>
        <button id="delete">Delete User</button>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <ul class="view-list" id="view-list"></ul>
    <div class="pagination" id="pagination">
      <button id="prev-btn" disabled>Prev</button>
      <div id="page-numbers"></div>
      <button id="next-btn">Next</button>
    </div>
  </div>
</div>


<!-- Popout for Logout -->
<div id="logout-popout" class="popout hidden">
  <div class="popout-content">
    <h2>Are you sure you want to log out?</h2>
    <div class="popout-actions">
      <button class="btn-cancel" id="logout-cancel">Cancel</button>
     
      <button class="btn-confirm" id="logout-confirm">Log Out</button>
      <div class="loader" style="display: none;"></div>
      
    </div>
  </div>
</div>

<!-- Popout for Delete User -->
<div id="delete-popout" class="popout hidden">
  <div class="popout-content">
    <h2>Are you sure you want to delete your account?</h2>
    <p class="warning-text">This action cannot be undone.</p>
    <div class="popout-actions">
      <button class="btn-cancel" id="delete-cancel">Cancel</button>
      <button class="btn-confirm danger" id="delete-confirm">Delete</button>
      <div class="loader" style="display: none;"></div>
    </div>
  </div>
</div>