<div class="main-container">
  <div class="main-container-heading">
    <div>
      <p class="review-publish-detail">
        <span id="publisher"><%- review.publisher %></span>
        <span id="publish-year"><%- review.published_year %></span>
      </p>
      <h1 class="review-title" id="review-title-display">
        <%- review.title %>
      </h1>
      <p class="review-author" id="review-author-display">
        <%- review.author %>
      </p>
    </div>
    <div class="edit-button-container">
      <a id="edit-button" href="/edit/<%= review.slug  %>"
        ><img src="/icons/editIcon.png" alt=""
      /></a>
    </div>
  </div>

  <div class="grid4">
    <div class="review-rating">
      <div class="rating-section" id="setting-rating">
        <h1 class="rating-title">Setting</h1>
        <p class="rating-description">World-building, lore, atmosphere, etc</p>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>

      <div class="rating-section" id="plot-rating">
        <h1 class="rating-title">Plot</h1>
        <p class="rating-description">
          Structure, arcs, pacing, climax, tension, resolution, etc.
        </p>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>

      <div class="rating-section" id="character-rating">
        <h1 class="rating-title">Characters</h1>
        <p class="rating-description">
          Development, relatability, depth, dynamics, arcs, etc.
        </p>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>

      <div class="rating-section" id="style-rating">
        <h1 class="rating-title">Style</h1>
        <p class="rating-description">
          Writing, voice, point of view, narrator, etc.
        </p>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>

      <div class="rating-section" id="engagement-rating">
        <h1 class="rating-title">Engagement</h1>
        <p class="rating-description">
          Immersion, Enjoyment, themes, genre, tropes, etc.
        </p>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>

      <div class="rating-section final-rating" id="final-rating">
        <h1 class="rating-title">Overall rating</h1>
        <div class="rating-stars">
          <!-- Stars will be dynamically inserted here by JS -->
        </div>
      </div>
    </div>
    <div class="review-note">
      <h1>Notes</h1>
      <textarea
        class="review-notes"
        placeholder="✨ Your thoughts about the book here ✨"
        rows="24"
        id="review-notes"
        readonly
      >
<%- review.note %></textarea
      >
    </div>
    <div class="review-book-detail">
      <img src="<%- review.cover_url %>" alt="book cover" id="book-cover" />
      <div class="review-book-subdetail">
        <div class="review-date">
          <div class="review-date-container">
            <p>Start date</p>
            <p>Finish date</p>
          </div>
          <div class="review-date-container">
            <div
              class="date-display"
              id="startDateDisplay"
              data-full-date="<%- review.start_date %>"
            >
              <span id="formattedStartDate"></span>
            </div>
            <div
              class="date-display"
              id="endDateDisplay"
              data-full-date="<%- review.end_date %>"
            >
              <span id="formattedEndDate"></span>
            </div>
          </div>
        </div>
        <div class="review-book-format">
          <h1>Format</h1>
          <p name="format" id="format"><%- review.format %></p>
        </div>
        <div class="review-book-genre">
          <h1>Genre</h1>
          <textarea name="genre" id="genre" rows="4" readonly><%- review.genre %>
    </textarea
          >
        </div>
        <div class="review-book-isbn">
          <h1>ISBN</h1>
          <input
          type="text"
          name="isbn"
          id="isbn"
          value="<%= review.isbn %>"
          placeholder="no isbn found"
          readonly
        />
        </div>
      </div>
    </div>
    <div class="review-quote">
      <h1>Quotes to remember</h1>
      <p class="review-quote-text" id="review-quote"><%- review.quote %><span class="quote-image-overlay">
          <img src="/icons/”.svg" alt="Quote Icon" />
        </span>
      </p>
    </div>

    <div class="review-moment">
      <h1>Most surprising moment</h1>
      <div class="review-moment-text" id="review-moment"><%- review.moment %>
        <div class="review-moment-page">
          <span>page</span>
          <span id="moment-page-number" class="moment-page-number"
            ><%- review.moment_page_number %></span
          >
        </div>
      </div>
    </div>

    <div class="review-character">
      <div class="favourite-character">
        <h1>Favourite Character</h1>
        <p class="favourite-character-text" id="favourite-character"><%- review.favorite_character %><span class="character-image-overlay">
            <img src="/icons/favourite.png" alt="Favorite Icon" />
          </span>
        </p>
      </div>

      <div class="least-favourite-character">
        <h1>Least favourite character</h1>
        <p
          class="least-favourite-character-text"
          id="least-favourite-character"
        ><%- review.least_favorite_character %><span
            class="character-image-overlay"
          >
            <img src="/icons/leastfavourite.png" alt="least favorite icon" />
          </span>
        </p>
      </div>
    </div>
    <div class="review-ending">
      <h1>The ending</h1>

      <p id="ending"><%- review.ending%></p>
    </div>
  </div>
</div>
